/* My color palette*/
:root {
    --beige: #fff6f7;
    --green: #88b478;
    --pine: #376e4d;
    --honey: #FFB100;
    --fuchsia: #995D81;
}

/*---------------------------------General */
html, body {
    /* width: 100vh;
    height: 100vw; */
    margin: 0px!important;
}

body {
    background-color: var(--beige);
    padding: 0 40px;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    position: relative;
    padding-top: 5rem;
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: 700;
}

p {
    margin: 2% 0;
}

/*----Dark Mode*/
.dark-mode {
    background-color: black;
    color: var(--beige);
  }

/*---------------------Navbar */
.brand{
    width: 3rem;
    height: 3rem;
}

.navbar {
    z-index: 10;
    position: absolute;
    top: 0;
}

.nav-link{
    color: black;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1);
    color: var(--green);
}

.navbar-toggler{
    background-color: var(--green);
}

/*-------------------------Home Page*/
.full-page {
    height: 100vh;
    margin-top: -5rem;
    margin-left: -40px;
    margin-right: -40px;
}

.hero {
    height: 100%;
    background: url(https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#site-name{
    font-family: 'Zilla Slab', serif;
    width: 100%;
    font-size: 9vw;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.site-title {
    color: var(--beige);
    z-index: 2;
    padding-top: 25vh;
    
}

.home_brand {
    width: 7vw;
    min-width: 3rem;
}

.landing-imgs .img-fluid{
    height: 100%;
    width: auto;
}
/*----------------------------Shopping Page STRUCTURE*/
#shop-container {
    width: 100%;
    display: relative;
}

#filter-container {
    width: 20%;
    min-height: 430px;
    max-height: 450px;
    min-width: 200px!important;
}

#plants-container {
    width: 80%;
    padding: 0 40px;
}

/*----------------------------Filter*/
#filter-container {
    background-color: var(--beige);
}

.filter-btn {
    margin: 5px;
}

.filter-btn-holder{
    flex-wrap: wrap;
}

.filter-title{
    padding: 10px;
}

/*----------------------------Wishlist */

#wishlist-container{
    justify-content: center;
    z-index: 10;
    height: 400px;
    min-width: 100px;
    max-width: 600px;
    background-color: var(--beige);
    position: absolute;
    top: 10%;
    right: 0;
    transition: width 2s ease-in-out;
    border-right: none;
}

.wishlist-button-holder{
    height: 100%;
    padding:0 10px;
    display: flex;
    align-items: center;
}

#wishlist-button{
    color: var(--green);
    background-color: var(--beige);    
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
}

#wishlist-items-container{
    justify-content: center;
    display: none;
    flex-wrap: wrap;
}

.wishlist-item {
    width: 30%;
    height: 55%;
    padding: 10px;
    margin: 5px;
}

/*----------Plant Listings*/

/*----Favorite Button*/
.favorite {
    height:20px;
    color: var(--beige);
    transition: all .4s ease-in-out!important;
    cursor: pointer!important;
}

.favorite:hover {
    transform: scale(1.3)!important;
    color: var(--green);
}

.plant-img-container{
    position: relative;
}

.favorite-button {
    position: absolute;
    bottom: 6%;
    right: 6%;
    background-color: transparent;
    border: none;
}

/*----Plant Listing container*/
#plant-listings{
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: left;
}

/*----Plant Listing*/
.plant-listing {
    width: 25%;
    margin: 5px;
    background-color: var(--beige);
    min-width: 200px!important;
}

.card-body{
    padding: 0.8rem;
}

.border {
    border: 5px solid white !important;
}

.btn {
    background-color: var(--green);
}

/*----popup modal*/
.modal-header {
    background-size: cover;
    background-position: center;
    height: 30vh;
}

.modal-footer {
    background-color: var(--beige);
}

.modal-img {
    border-radius: calc(.25rem - 1px);
    width: 40%;
}

/*------------------Admin Login---*/

/*----submit button*/
.login {
    margin: 10px;
}

.login:active {
    transform: scale(0.95);
}

input[type=text] {
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}
  
input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid var(--honey);
}
  
input[type=text]:placeholder {
    color: #cccccc;
}

.login-container {
    z-index: 2;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#login-wrapper {
    background: url(https://images.unsplash.com/photo-1553275991-b6ba99f234e1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1852&q=80);
    background-size: cover;
}
  
#formContent {
    border-radius: calc(.25rem - 1px);
    background: var(--beige);
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    text-align: center;
}
  
.login-icon{
    width: 40px;
    margin: 10px;
    color: var(--green)
}

/*----sweet alert*/

.swal-footer {
    background-color: var(--beige);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.swal-button {
    background-color: var(--green);
}