/* My color palette*/
:root {
    --beige: #fff6f7;
    --green: #88b478;
    --pine: #376e4d;
    --honey: #FFB100;
    --fuchsia: #995D81;
}

/* General */
body {
 background-color: var(--beige);
 padding: 0 40px;
}

.filter-container {
    background-color: var(--honey);
    border: 1px white solid;
    width: 100%;
    height: 200 px;
}

.filter-container{
    width: 20%;
}

.container {
    width: 100%;
    margin: 0!important;;
}

.listing-container {
    width: 100%;
}

/* Navbar */
.brand{
    width: 3rem;
    height: 3rem;
}

/* Wishlist */

#offcanvas {
    background-color: thistle;
    z-index: 10;
}

#test {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    height: 400px;
    width: 60px;
    background-color: #fcd800;
    top: 20%;
    right: 0;
    transition: width 2s ease-in-out;
    border: solid 5px #fdfffc;
    border-right: none;
    color: #fdfffc;
    box-shadow: 10px 5px 20px #a1a0a0; 
}

/* #wishlist{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    height: 400px;
    width: 60px;
    background-color: #fcd800;
    top: 20%;
    right: 0;
    transition: width 2s ease-in-out;
    border: solid 5px #fdfffc;
    border-right: none;
    color: #fdfffc;
    box-shadow: 10px 5px 20px #a1a0a0;
} */

.wishlist-icon{
    width: 100px;
    height: 100px;
}

.show_wish {
    position: absolute;
    top: 45%;
}

/* Plant cards */
.card {
    width: 30%;
    margin: 5px;
    background-color: var(--beige);
}

.border {
    border: 5px solid white !important;
}

.btn {
    background-color: var(--green);
}